.primary {
  width: 366px;
  height: 44px;
  background-color: #2563EB;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;

}

.secondary {

}