.iconWrapper {
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  display: block;
}

.developmentIcon {
  color: #2563eb;
}

.developmentIconWrapper {
  background-color: #dbeafe;
}

.dailyIcon {
  color: #a90ecc;
}

.dailyIconWrapper {
  background-color: #f3e8ff;
}

.educationIcon {
  color: #16a34a;
}

.educationIconWrapper {
  background-color: #dcfce7;
}

.entertainmentIcon {
  color: #db2777;
}

.entertainmentIconWrapper {
  background-color: #fce7f3;
}

.defaultIcon {
  color: #4b5563;
}

.defaultIconWrapper {
  background-color: #f3f4f6;
}
